[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
black = "*"

[packages]
docker = "*"
boto3 = "*"
pyyaml = "*"
pandas = "*"
tzlocal = "*"
netaddr = "*"
pynsive = "*"
5400915 = {file = "https://github.com/noahmorrison/chevron/archive/master.zip"}
pyathena = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
